body {
 
	background-image: url("https://images.genius.com/d0bc88e39fc7bedd05a4a8079445a357.1000x1000x1.jpg");
  	}

h2 {
	margin: 54px;
	text-align: center;
	color: red;
}

p {
	text-align: center;
	color: red;
}
